<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://cdn.tailwindcss.com"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../fonts/fonts.css">
</head>


<body class="bg-black" >
    
    <div class="border-bottom">

        <div class="container bg-black ">
            
            <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-3 mb-4" >
              
    
              <div class="col-md-3 mb-2 mb-md-0 mt-[-4px] ">
                
                <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                    <span class="material-symbols-outlined text-white text-2xl">
                        exercise
                        </span>
    
                        <span class="text-white font-bold ml-1 text-2xl">DYPIUFitness</span>
    
                </a>
    
               
                
    
              </div>
        
              <!-- <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-light ">
                <li><a href="#scrollspyHeading1" class="nav-link px-2 hover:text-gray-400">Home</a></li>
                <li><a href="#scrollspyHeading2" class="nav-link px-2 hover:text-gray-400">Membership</a></li>
                <li><a href="#scrollspyHeading3" class="nav-link px-2 hover:text-gray-400">FAQs</a></li>
                <li><a href="#scrollspyHeading4" class="nav-link px-2 hover:text-gray-400">About</a></li>
              </ul> -->
        
              <div class="col-md-3 text-end">

                <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-light ">
                    <li><a href="/users/logout" class="nav-link px-2 hover:text-gray-400">Log Out</a></li>
                  </ul>
               
              </div>
              
            </header>
    
            
          </div>
    
    </div>


    

    <div class="container mx-auto">
        <div class="bg-black text-white p-4">
          <h1 class="text-4xl font-bold">User Dashboard</h1>
        </div>

        <div class='bg-black  p-6 rounded-lg h-60 w-96 shadow-lg mb-4 mr-4'>
            <div class='mt-4'>
                <button class="bg-white text-black px-4 py-2 rounded hover:bg-gray-900"> <a class="hover:decoration-transparent hover:text-gray-700  " href="/users/dashboard/buyMembership" >  Buy Membership</a> </button>
            </div>
          </div>
      </div>




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>