<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://cdn.tailwindcss.com"></script> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
   

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

<link rel="stylesheet" href="../fonts/fonts.css">


<style>


  .NavBar {
    background-color: #222831;
    color: #00ADB5;
  }

  .foregroundColor {
    color: #222831;
  }

  .Heroes {
    background-color: #393E46;

  }

  .internetPic {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
  }

  .primButtons {
    --bs-yellow: #ffc107;
  }

  .FAQaccordian{
    background-color: #00ADB5;
    border: none;
  }

  .accordianWhite{
    background-color: #EEEEEE;
    color: #222831;
    border: none;

  }

  .accordianWhite:not(.collapsed)
  {
    background-color: #EEEEEE;
    color: #222831;
    border: none;

  }

</style>
</head>



<body class="bg-black">

<div class="border-bottom">

    <div class="container bg-black ">
        
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between pt-3 mb-4" >
          

          <div class="col-md-3 mb-2 mb-md-0 mt-[-4px] ">
            
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <span class="material-symbols-outlined text-white text-2xl">
                    exercise
                    </span>

                    <span class="text-white font-bold ml-1 text-2xl">DYPIUFitness</span>

            </a>

           
            

          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 text-light ">
            <li><a href="#scrollspyHeading1" class="nav-link px-2 hover:text-gray-400">Home</a></li>
            <li><a href="#scrollspyHeading2" class="nav-link px-2 hover:text-gray-400">Membership</a></li>
            <li><a href="#scrollspyHeading3" class="nav-link px-2 hover:text-gray-400">FAQs</a></li>
            <li><a href="#scrollspyHeading4" class="nav-link px-2 hover:text-gray-400">About</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" class="btn text-white bg-black shadow-none me-2 dropdown-toggle rounded-full font-bold focus:outline-none  " type="button" data-bs-toggle="dropdown" aria-expanded="false">Login</button>
            <ul class="dropdown-menu text-black">
                <li><a class="dropdown-item active:bg-gray-100 focus:text-black" href="/users/login">As User</a></li>
                <li><a class="dropdown-item active:bg-gray-100 focus:text-black" href="/users/admin/login">As Admin</a></li>
                <li><a class="dropdown-item active:bg-gray-100 focus:text-black" href="/users/admin/superuser">As Superuser</a></li>
              </ul>
            <button type="button" class="btn btn-default rounded-full text-black shadow-none font-bold border-none bg-white hover:text-black"><a href="/users/register" class="hover:text-black hover:decoration-transparent " >Sign-up</a></button>
          </div>
          
        </header>

        
      </div>

</div>

  <!-- <img src="./heroImage.jpg" alt="heroImage"> -->
   
  <div class="w-full h-screen bg-no-repeat bg-center bg-cover scale-100  bg-[url('./heroImage.jpg')]   
  before:content-['']
  before:absolute
  before:inset-0
  before:block
  before:bg-gradient-to-r
  before:from-gray-950
  before:to-black
  before:opacity-90
  before:z-[-5]">

    <div class="flex flex-col h-screen w-auto justify-center container" >
      <!-- <img class="absolute inset-0 w-full h-screen bg-no-repeat bg-center bg-cover scale-100 opacity-30  " style="background-image: url('./heroImage.jpg');" > -->
      <div><h1 class=" text-white text-7xl font-extrabold " >Because Health</h1></div>
      <div><h1 class="text-white text-7xl font-extrabold"> Matters.</h1></div>
      <div class="w-96 h-96" ><h2 class="text-white text-lg font-thin mt-9 tracking-widest font-sans" >Transform your body, empower your mind, and ignite your spirit at DYPIU's cutting-edge gym facility. Join our vibrant community of students dedicated to achieving their fitness goals and unlocking their full potential. With expert guidance, state-of-the-art equipment, and an atmosphere of support, your journey to greatness begins here.</h2></div> 
      
      <div class="flex flex-row justify-start -mt-12">
        <div><button class="btn btn-dark rounded-pill px-3 shadow-sm font-light w-32 h-10 -ml-1  " id="scrollspyHeading2" type="button">Memberships</button></div>
        <div><button class="btn btn-outline-secondary rounded-pill px-3 shadow-sm font-light w-32 h-10 ml-3" type="button">Sign Up</button></div>
      </div>
      
     

    </div>

  </div>
 

    <div class="container">

      

    </div>
  
    <div class="bg-black p-12">

    </div>

    <div class="container px-10">
      
      <h2 class="mb-8 text-6xl tracking-tight font-extrabold text-gray-900 text-center pb-9  dark:text-white">Memberships</h2>

      <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3xl shadow-sm bg-gray-900 ">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal text-white ">3 Months</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white ">₹5000<small class="text-body-secondary fw-light text-white"></small></h1>
              <ul class="list-unstyled mt-3 mb-1 text-white">
                <li >0% Discount</li>
              </ul>
              <!-- <button type="button" class="w-100 btn btn-lg btn-outline-secondary text-white">Sign up for free</button> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3xl shadow-sm bg-gray-900" >
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal text-white">6 Months</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">₹7000<small class="text-body-secondary fw-light text-white"></small></h1>
              <ul class="list-unstyled mt-3 mb-1 text-white">
                <li >25% Discount</li>

              </ul>
              <!-- <button type="button" class="w-100 btn btn-lg  btn-outline-secondary text-white">Get started</button> -->
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3xl shadow-sm border-primary border-light bg-gray-900">
            <div class="card-header  py-3 text-bg-primary border-light">
              <h4 class="my-0 fw-normal text-white">1 Year</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title text-white">₹12000<small class=" text-white text-body-secondary fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-1 text-white">
                <li >40% Discount</li>

              </ul>
              <!-- <button type="button" class="w-100 btn btn-lg  btn-outline-secondary text-white">Contact us</button> -->
            </div>
          </div>
        </div>
      </div>
    


    </div>

    <section class="bg-black pt-24 container">
      <div class="py-8 px-4 mx-auto">
          <h2 class="mb-8 text-6xl tracking-tight font-extrabold text-gray-900 text-center dark:text-white" id="scrollspyHeading3">Frequently Asked Questions</h2>
          <div class="grid pt-8 text-left border-t border-gray-200 md:gap-16 dark:border-gray-700 md:grid-cols-2">
              <div>
                  <div class="mb-10">
                      <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                          <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                          What are the gym's operating hours?
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">Our gym is open from 9:00 AM to 11:00 PM every day of the week, including weekends.</p>
                  </div>
                  <div class="mb-10">                        
                      <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                          <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                          What facilities does the gym offer?
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">We provide a range of facilities including a fully equipped gym floor, group fitness classes, personal training, sauna, and steam room.</p>
                  </div>
                  <div class="mb-10">
                      <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                          <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                          Do you offer personal training sessions?
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">Yes, we have certified personal trainers available to help you achieve your fitness goals. You can book a session with one of our trainers at the front desk.</p>
                  </div>
              </div>
              <div>
                  <div class="mb-10">
                      <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                          <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                          What are the membership options available?
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">We offer a variety of membership options including monthly, quarterly, and annual memberships. Additionally, we have special rates for students and seniors.</p>
                  </div>
                  <div class="mb-10">
                      <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                          <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                          Can I bring a guest with me to the gym?
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">Yes, members are allowed to bring guests to the gym. However, guests may need to sign a waiver before using the facilities.</p>
                  </div>
                  <div class="mb-10">
                      <h3 class="flex items-center mb-4 text-lg font-medium text-gray-900 dark:text-white">
                          <svg class="flex-shrink-0 mr-2 w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path></svg>
                          Is there parking available at the gym?
                      </h3>
                      <p class="text-gray-500 dark:text-gray-400">Yes, we have ample parking available for our members.</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <!-- ====== About Section Start -->
<section
class="overflow-hidden pt-20 pb-12 lg:pt-[120px] lg:pb-[90px] bg-black dark:bg-dark"  id="scrollspyHeading4"
>
<div class="container mx-auto">
   <div class="flex flex-wrap items-center justify-between -mx-4">
      <div class="w-full px-4 lg:w-6/12">
         <div class="flex items-center -mx-3 sm:-mx-4">
            <div class="w-full px-3 sm:px-4 xl:w-1/2">
               <div class="py-3 sm:py-4">
                  <img
                     src="pullUps.jpg"
                     alt=""
                     class="w-full rounded-2xl"
                     />
               </div>
               <div class="py-3 sm:py-4">
                  <img
                     src="weightedSquatwomen.jpg"
                     alt=""
                     class="w-full rounded-2xl"
                     />
               </div>
            </div>
            <div class="w-full px-3 sm:px-4 xl:w-1/2">
               <div class="relative z-10 my-4">
                  <img
                     src="gym.jpg"
                     alt=""
                     class="w-full rounded-2xl"
                     />
                  <span class="absolute -right-7 -bottom-7 z-[-1]">
                     <svg
                        width="134"
                        height="106"
                        viewBox="0 0 134 106"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        >
                        <circle
                           cx="1.66667"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 1.66667 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 16.3333 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 31 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 45.6667 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3334"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 60.3334 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 88.6667 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 117.667 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 74.6667 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 103 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="104"
                           r="1.66667"
                           transform="rotate(-90 132 104)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.66667"
                           cy="89.3333"
                           r="1.66667"
                           transform="rotate(-90 1.66667 89.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="89.3333"
                           r="1.66667"
                           transform="rotate(-90 16.3333 89.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="89.3333"
                           r="1.66667"
                           transform="rotate(-90 31 89.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="89.3333"
                           r="1.66667"
                           transform="rotate(-90 45.6667 89.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3333"
                           cy="89.3338"
                           r="1.66667"
                           transform="rotate(-90 60.3333 89.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="89.3338"
                           r="1.66667"
                           transform="rotate(-90 88.6667 89.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="89.3338"
                           r="1.66667"
                           transform="rotate(-90 117.667 89.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="89.3338"
                           r="1.66667"
                           transform="rotate(-90 74.6667 89.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="89.3338"
                           r="1.66667"
                           transform="rotate(-90 103 89.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="89.3338"
                           r="1.66667"
                           transform="rotate(-90 132 89.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.66667"
                           cy="74.6673"
                           r="1.66667"
                           transform="rotate(-90 1.66667 74.6673)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.66667"
                           cy="31.0003"
                           r="1.66667"
                           transform="rotate(-90 1.66667 31.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 16.3333 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="31.0003"
                           r="1.66667"
                           transform="rotate(-90 16.3333 31.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 31 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="31.0003"
                           r="1.66667"
                           transform="rotate(-90 31 31.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 45.6667 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="31.0003"
                           r="1.66667"
                           transform="rotate(-90 45.6667 31.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3333"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 60.3333 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3333"
                           cy="30.9998"
                           r="1.66667"
                           transform="rotate(-90 60.3333 30.9998)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 88.6667 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="30.9998"
                           r="1.66667"
                           transform="rotate(-90 88.6667 30.9998)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 117.667 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="30.9998"
                           r="1.66667"
                           transform="rotate(-90 117.667 30.9998)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 74.6667 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="30.9998"
                           r="1.66667"
                           transform="rotate(-90 74.6667 30.9998)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 103 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="30.9998"
                           r="1.66667"
                           transform="rotate(-90 103 30.9998)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="74.6668"
                           r="1.66667"
                           transform="rotate(-90 132 74.6668)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="30.9998"
                           r="1.66667"
                           transform="rotate(-90 132 30.9998)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.66667"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 1.66667 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.66667"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 1.66667 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 16.3333 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 16.3333 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 31 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 31 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 45.6667 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 45.6667 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3333"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 60.3333 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3333"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 60.3333 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 88.6667 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 88.6667 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 117.667 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 117.667 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 74.6667 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 74.6667 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 103 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 103 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="60.0003"
                           r="1.66667"
                           transform="rotate(-90 132 60.0003)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="16.3333"
                           r="1.66667"
                           transform="rotate(-90 132 16.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.66667"
                           cy="45.3333"
                           r="1.66667"
                           transform="rotate(-90 1.66667 45.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="1.66667"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 1.66667 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="45.3333"
                           r="1.66667"
                           transform="rotate(-90 16.3333 45.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="16.3333"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 16.3333 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="45.3333"
                           r="1.66667"
                           transform="rotate(-90 31 45.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="31"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 31 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="45.3333"
                           r="1.66667"
                           transform="rotate(-90 45.6667 45.3333)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="45.6667"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 45.6667 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3333"
                           cy="45.3338"
                           r="1.66667"
                           transform="rotate(-90 60.3333 45.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="60.3333"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 60.3333 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="45.3338"
                           r="1.66667"
                           transform="rotate(-90 88.6667 45.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="88.6667"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 88.6667 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="45.3338"
                           r="1.66667"
                           transform="rotate(-90 117.667 45.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="117.667"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 117.667 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="45.3338"
                           r="1.66667"
                           transform="rotate(-90 74.6667 45.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="74.6667"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 74.6667 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="45.3338"
                           r="1.66667"
                           transform="rotate(-90 103 45.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="103"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 103 1.66683)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="45.3338"
                           r="1.66667"
                           transform="rotate(-90 132 45.3338)"
                           fill="#3056D3"
                           />
                        <circle
                           cx="132"
                           cy="1.66683"
                           r="1.66667"
                           transform="rotate(-90 132 1.66683)"
                           fill="#3056D3"
                           />
                     </svg>
                  </span>
               </div>
            </div>
         </div>
      </div>
      <div class="w-full px-4 lg:w-1/2 xl:w-5/12">
       
        <div class="mt-10 lg:mt-0">
          <span class="block mb-4 text-lg font-semibold text-white">
              Why Choose Our Campus Gym
          </span>
          <h2 class="mb-5 text-3xl font-bold text-white dark:text-white sm:text-[40px]/[48px]">
              Elevate Your Campus Experience with Our Fitness Services
          </h2>
          <p class="mb-5 text-white">
              Discover the benefits of staying active and healthy while pursuing your academic goals on campus. Our state-of-the-art gym facilities offer a perfect blend of fitness, fun, and convenience tailored to the college lifestyle.
          </p>
          <p class="mb-8 text-white">
              Whether you're looking to blow off steam between classes, maintain a balanced lifestyle, or achieve your fitness aspirations, our campus gym is here to support you every step of the way.
          </p>
          <a href="javascript:void(0)" class="inline-flex items-center justify-center py-3 text-base font-medium text-center text-white border border-transparent rounded-md px-7 bg-black hover:bg-opacity-90">
              Join Now
          </a>
      </div>
      


      </div>
   </div>
</div>
</section>



<!-- ====== About Section End -->

    <section class="footer" style="background-color: #EEEEEE;">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-5 border-top">
        <p class="col-md-4 mb-0  foregroundColor">© 2024 DYPIU Fitness Inc. </p>
        <?xml version="1.0" standalone="no"?>
  
  
        <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 20010904//EN" "http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd">
  
  
        <a href="/index.html">
          <span class="material-symbols-outlined text-black text-4xl">
            exercise
            </span>
        </a>
  
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item foregroundColor"><a href="./index.html" class="nav-link px-2 foregroundColor">Home</a></li>
          <li class="nav-item"><a href="./pricing.html" class="nav-link px-2 foregroundColor">Membership</a></li>
          <li class="nav-item"><a href="./review.html" class="nav-link px-2 foregroundColor">FAQs</a></li>
          <li class="nav-item"><a href="./about.html" class="nav-link px-2 foregroundColor">About</a></li>
        </ul>
      </footer>
    </section>
  

   
      <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>


</html>




<!-- <li><a href="/users/register">Register Here</a></li>
<li><a href="/users/admin/login">Login as an Admin</a></li>
<li><a href="/users/admin/superuser">Login as a Superuser</a></li> -->