<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
    <h1>login</h1>
    <ul>

        <% if (messages.success_msg) { %>
         <li>   <%= messages.success_msg %>
            <% } %>
        </li>

    </ul>

    <ul>
        <% if (messages.error) { %>
         <li><%= messages.error %> </li>
        <% } %>
    </ul>
   
    <form action="/users/admin/superuser" method="POST">  

        <div>
            <input type="text" name="name" id="name" placeholder="enter your name" required>
        </div>
        
        <div>
            <input type="text" name="email" id="email" placeholder="enter your email" required>
        </div>

        <div>
            <input type="text" name="password" id="password" placeholder="password" required>
        </div>

        <input type="submit" name="login" value="Login" id="">

        
    </form>
</body>
</html>